{
  "branches": [
    "main"
  ],
  "repository": "git@github.com:tar-aldev/petsy.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git"
  ]
}
